body {
    background-color: powderblue;
}

* {
    box-sizing: border-box;
}
.AppDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.HeaderDiv {
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header {
    margin-left: 20px;
}

.LoginButton {
    border-radius: 10px;
    height: 30px;
    margin-right: 20px;
}

.LogoutButton {
    border-radius: 10px;
    height: 30px;
    margin-right: 20px;
}

.ProfileContainer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ProfileImage {
    border-radius: 50px;
}

.NoAuthAlert {
    text-align: center;
}

.ScoresLink {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.ScoresLink:hover {
    color: azure;
}

.ProfileLink {
    color: black;
    text-align: left;
    text-decoration: none;
    padding: 20px;
}

.ProfileLink:hover {
    color: azure;
}

.Scores {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.Table {
    width: 100%;
    border-collapse: collapse;
}

.Table td, .Table th {
    padding: 12px 15px;
    border: 1px solid;
    text-align: center;
}

.Table th {
    background-color: aquamarine;
}

@media(max-width: 500px) {

    .Table thead {
        display: none;
    }

   
    .Table, .Table tbody, .Table tr, .Table td {
        display: block;
    }

    .Table tr {
        margin-bottom: 30px;
    }

    .Table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .BreakpointLabel {
        background-color: aquamarine;
    }

    .Table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}




