body {
    background-color: powderblue;
}

.HeaderContainer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

.Header {
    margin-left: 10px;
}

.LoginButton {
    border-radius: 10px;
    height: 30px;
    margin-right: 20px;
}

.LogoutButton {
    border-radius: 10px;
    height: 30px;
    margin-right: 20px;
}

.ProfileContainer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ProfileImage {
    border-radius: 50px;
}

.AppContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.ScoresLinkContainer {
    width: fit-content;
    border-radius: 10px;
    height: 20px;
}

.ScoresLink {
    width: fit-content;
    padding: 10px;
    color: black;
    text-align: left;
    text-decoration: none;
}

.ScoresContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ProfileLinkContainer {
    width: fit-content;
    border-radius: 10px;
    height: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.ProfileLink {
    width: fit-content;
    padding: 10px;
    color: black;
    text-align: left;
    text-decoration: none;
}

/* Scores Table Styling */


.ScoresTable {
    width: 100%;
    border-collapse: collapse;
}

.ScoresTable td, .Table th {
    padding: 12px 15px;
    border: 1px solid;
    text-align: center;
}

.ScoresTable th {
    background-color: aquamarine;
}


.AddScoreContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.AddScoreForm {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-items: stretch;
}

@media(max-width: 620px) {


    .ProfileLinkContainer {
        margin: 10px;
    }

    .ScoresContainer {
        flex-wrap: wrap;
        justify-content: flex-start;
        height: fit-content;
    }

    .ScoresTable thead {
        display: none;
    }

   td#Course {
    background-color: aquamarine;
   }

    .ScoresTable, .ScoresTable tbody, .ScoresTable tr, .ScoresTable td {
        display: block;
    }

    .ScoresTable tr {
        margin-bottom: 30px;
    }

    .ScoresTable td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }


    .ScoresTable td::before {
        content: attr(id);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.NoAuthAlert {
    text-align: center;
}




